.home {
  width: 100%;
  height: 100vh;
  background: rgb(193, 137, 1);
  background: -moz-linear-gradient(
    90deg,
    rgba(193, 137, 1, 1) 2%,
    rgba(192, 147, 0, 1) 24%,
    rgba(193, 126, 3, 1) 41%,
    rgba(193, 123, 3, 1) 43%,
    rgba(196, 82, 8, 1) 67%,
    rgba(200, 16, 16, 1) 83%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(193, 137, 1, 1) 2%,
    rgba(192, 147, 0, 1) 24%,
    rgba(193, 126, 3, 1) 41%,
    rgba(193, 123, 3, 1) 43%,
    rgba(196, 82, 8, 1) 67%,
    rgba(200, 16, 16, 1) 83%
  );
  background: linear-gradient(
    90deg,
    rgba(193, 137, 1, 1) 2%,
    rgba(192, 147, 0, 1) 24%,
    rgba(193, 126, 3, 1) 41%,
    rgba(193, 123, 3, 1) 43%,
    rgba(196, 82, 8, 1) 67%,
    rgba(200, 16, 16, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c18901",endColorstr="#c81010",GradientType=1);
}
